.profile__pen {
    width: 26px;
    height: 26px;
    position: relative;
    left: -71px;
    z-index: 50;
}

.profile__pen:hover {
    z-index: 100;
}

@media screen and (max-width: 690px) {
    .profile__pen {
        left: 0;
        top: -70px;
    }
}