.popup__field {
    margin: 45px 36px 27px;
    border: 0;
    border-bottom: 1px solid #000000;
    min-height: 27px;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #000000;

}

.popup__field:last-of-type {
    margin: 0 36px 0;
}


@media screen and (max-width: 566px) {
    .popup__field {
        margin: 75px 22px 24px;
    }

    .popup__field:last-of-type {
        margin: 0 22px 0;
    }
}
